.button-toolbar {
  height: 30%;
  width: 100%;
  margin-left: 0;
  @media(min-width: 660px) {
    height: 22%;
  }
  &.btn-toolbar {
    &-Bulgakov, &-Freud, &-Tolstoy {
      height: 20%;
    }
  }
  button {
    width: percentage(1/4);
    height: 100%;
    margin-left: 0;
    border-radius: 0;
    border: 0;
    margin-left: 0 !important; /* bootstrap override */
    &:active, &:focus {
      outline: 0 !important; /* bootstrap override */
    }
    &:first-child, &:nth-child(4) {
      font-size: 2.5em;
      font-weight: bold;
      vertical-align: middle;
    }
    &.quizButton {
      span {
        font-size: 0.4em;
        display: block;
      }
    }

    // @media(min-width: 660px) {
    //   width: percentage(3/8);
    //   &:nth-child(3) {
    //     width: percentage(1/8);
    //   }
    //   &:first-child, &:nth-child(4) {
    //     width: percentage(1/4);
    //   }
    // }
    &.oneCard {
      font-size: 18px;
      width: 50%;
    }
  }
}

.quizButtonToolbar {
  button {
    width: 100%;
  }
}
