.QuizMenu {
  display: table;
  width: 100%;
  height: 100%; }
  .QuizMenu .quizLinkRow {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .QuizMenu .quizLinkRow .quizLink {
      font-size: 3em;
      text-decoration: none; }
