.Home {
  background: #09f;
  width: 100%;
  height: 100%; }
  .Home .one-half {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    text-decoration: none; }
    .Home .one-half.left {
      left: 0;
      cursor: pointer;
      background: #ff0078;
      background: url("https://cdn.flixbus.de/city_description_images/berlin-nachtleben.jpg") center center no-repeat;
      background-size: cover; }
    .Home .one-half.right {
      right: 0;
      cursor: pointer;
      background: #1978dc;
      background: url("http://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/Russia/Moscow/moscow-go-red-square-xlarge.jpg") center center no-repeat;
      background-size: cover; }
    .Home .one-half.left, .Home .one-half.left:before, .Home .one-half.right, .Home .one-half.right:before {
      transition: 500ms all ease-in-out; }
  .Home.hover-left .left {
    width: 85%; }
  .Home.hover-left .right {
    width: 15%; }
    .Home.hover-left .right:before {
      background: rgba(0, 0, 0, 0.65);
      z-index: 2; }
  .Home.hover-right .right {
    width: 85%; }
  .Home.hover-right .left {
    width: 15%; }
    .Home.hover-right .left:before {
      background: rgba(0, 0, 0, 0.65);
      z-index: 2; }
  .Home .headline {
    color: #fff;
    z-index: 1;
    font-size: 3.25em; }
    @media (max-width: 480px) {
      .Home .headline {
        font-size: 2.6em; } }
