.Home {
  background: #09f;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  
  &.hover-left {
    .left {
      width: 85%;
    }

    .right {
      width: 15%;

      &:before {
        background: rgba(0, 0, 0, 0.65);
        z-index: 2;
      }
    }
  }

  &.hover-right {
    .right {
      width: 85%;
    }

    .left {
      width: 15%;

      &:before {
        background: rgba(0, 0, 0, 0.65);
        z-index: 2;
      }
    }
  }

  .one-half {
    display: table;
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background-size: cover;
    z-index: 0;
    color: #fff;
    transition: 500ms all ease-in-out;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      transition: 500ms all ease-in-out;
    }

    &.left {
      left: 0;
      background: rgb(255, 0, 120);
      background: url("https://cdn.flixbus.de/city_description_images/berlin-nachtleben.jpg") center center no-repeat;

      &:before {
        background: rgba(255, 0, 120, 0.5);
      }
    }

    &.right {
      right: 0;
      background: rgb(25, 120, 220);
      background: url("http://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/Russia/Moscow/moscow-go-red-square-xlarge.jpg") center center no-repeat;

      &:before {
        background: rgba(25, 120, 220, 0.5);
      }
    }
  }

  .headline {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 1;
    font-size: 3.25em;
    @media(max-width: 480px) {
      font-size: 2.6em;
    }
  }
}
