.menuLink {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s all;
  font-size: 1.6em;
  &:hover {
    transform: scale(1.1);
    text-decoration: none;
  }
}
