.LanguageMenu {
  height: 100%; }
  .LanguageMenu .languageMenuList {
    height: 95%;
    /* 100% - 5% breadcrumb container height */
    display: table;
    padding-top: 1.5rem;
    padding-bottom: 3rem; }
    .LanguageMenu .languageMenuList:before, .LanguageMenu .languageMenuList:after {
      display: none;
      /* bootstrap override */ }
    .LanguageMenu .languageMenuList .menuLinkRow {
      display: table-row;
      text-align: center; }
      .LanguageMenu .languageMenuList .menuLinkRow .menuLink {
        display: table-cell;
        vertical-align: middle;
        text-decoration: none;
        transition: 0.3s all;
        font-size: 1.6em; }
        .LanguageMenu .languageMenuList .menuLinkRow .menuLink:hover {
          transform: scale(1.1);
          text-decoration: none; }
