.full-width {
  width: 100%; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-columns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.flex-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.flex-justify-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.flex-1-1-100 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

.padding-top-single {
  padding-top: 1rem; }

/* design */
.notecard {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #ffffff), color-stop(16%, #F94545), color-stop(16%, #ffffff), color-stop(25%, #ffffff), color-stop(26%, #85b2d3), color-stop(26%, #ffffff), color-stop(35%, #ffffff), color-stop(36%, #85b2d3), color-stop(36%, #ffffff), color-stop(45%, #ffffff), color-stop(46%, #85b2d3), color-stop(46%, #ffffff), color-stop(55%, #ffffff), color-stop(56%, #85b2d3), color-stop(56%, #ffffff), color-stop(65%, #ffffff), color-stop(66%, #85b2d3), color-stop(66%, #ffffff), color-stop(75%, #ffffff), color-stop(76%, #85b2d3), color-stop(76%, #ffffff), color-stop(85%, #ffffff), color-stop(86%, #85b2d3), color-stop(86%, #ffffff), color-stop(95%, #ffffff), color-stop(96%, #85b2d3), color-stop(96%, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff 15%, #F94545 16%, #ffffff 16%, #ffffff 25%, #85b2d3 26%, #ffffff 26%, #ffffff 35%, #85b2d3 36%, #ffffff 36%, #ffffff 45%, #85b2d3 46%, #ffffff 46%, #ffffff 55%, #85b2d3 56%, #ffffff 56%, #ffffff 65%, #85b2d3 66%, #ffffff 66%, #ffffff 75%, #85b2d3 76%, #ffffff 76%, #ffffff 85%, #85b2d3 86%, #ffffff 86%, #ffffff 95%, #85b2d3 96%, #ffffff 96%);
  background: -o-linear-gradient(top, #ffffff 15%, #F94545 16%, #ffffff 16%, #ffffff 25%, #85b2d3 26%, #ffffff 26%, #ffffff 35%, #85b2d3 36%, #ffffff 36%, #ffffff 45%, #85b2d3 46%, #ffffff 46%, #ffffff 55%, #85b2d3 56%, #ffffff 56%, #ffffff 65%, #85b2d3 66%, #ffffff 66%, #ffffff 75%, #85b2d3 76%, #ffffff 76%, #ffffff 85%, #85b2d3 86%, #ffffff 86%, #ffffff 95%, #85b2d3 96%, #ffffff 96%);
  background: linear-gradient(to bottom, #ffffff 15%, #F94545 16%, #ffffff 16%, #ffffff 25%, #85b2d3 26%, #ffffff 26%, #ffffff 35%, #85b2d3 36%, #ffffff 36%, #ffffff 45%, #85b2d3 46%, #ffffff 46%, #ffffff 55%, #85b2d3 56%, #ffffff 56%, #ffffff 65%, #85b2d3 66%, #ffffff 66%, #ffffff 75%, #85b2d3 76%, #ffffff 76%, #ffffff 85%, #85b2d3 86%, #ffffff 86%, #ffffff 95%, #85b2d3 96%, #ffffff 96%); }

.customBgImg {
  background-repeat: no-repeat;
  background-position: center; }
  .customBgImg.Freud {
    background-image: url("./img/freud.png");
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff; }
  .customBgImg.Tolstoy {
    background-image: url("./img/tolstoy.png"); }
  .customBgImg.Bulgakov {
    background-image: url("./img/bulgakov.png");
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff; }
