// Roboto font
// @import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family:  "Helvetica Cyrillic", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}
